/*** NEW CODE DETAIL PROD ***/
div.detail-head-block{
	width: 30%;
	margin-top: 32px;
	background-color: #f7f7f7;
	float: left;
}
div.left-head{
	text-align: center;
}

div.center-head{
	background-color: white;
	width: 40%;
}
div.detail-head-block div.block-price{
	font-family: "Arial";
	color: black;
	padding-top: 25px;
	text-align: center;
}
div.detail-head-block div.price-name{
	display: inline-block;
	font-size: 14px;
}
div.block-price span.price{
	font-size: 26px;
	font-weight: bold;
	margin-left: 0px;
	color: black;
}
div.block-price span.price.old{
	display: block;
	/*margin-left: 68px;*/
	font-size: 18px;
	color: red;
	margin-bottom: 5px;
}
div.block-price span.price span.currency-block{
	font-size: 18px;
}
div.detail-head-block div.store-block{
	font-family: "Arial";
	color: black;
	margin-top: 10px;
}
div.store-block div.stores{
	text-align: center;
	width: 100%;
}
div.stores {
	text-align: left;
}
div.store-block div.stores span{
	font-size: 14px;
	text-align: center;
	margin-left: 0px;
}
div.store-block div.stores span a{
	margin-left: 0px;	
	font-weight: bold;
	pointer-events: none;
}
div.store-block div.stores span a:hover{
	text-decoration: none;
}
div.detail-head-block div.razdel-block{
	height: 30px;
	border-bottom: 1px dashed #cccccc;
	display: block;
	width: 75%;
	margin-left: 12.5%;
	margin-bottom: 17px;
}
div.detail-head-block div.buy-block{
	/*padding-left: 25px;*/
	font-family: "Arial";
} 
div.buy-block a.add2basket{
	width: 75%;
	background-color: #2ea201;
	font-size: 22px;
	color: white;
	font-weight: bold;
	height: 50px;
	margin-right: 0px !important;
	padding: 5px;
}
div.buy-block a.inbasket{
	width: 75%;
	background-color: #2ea201;
	font-size: 22px;
	color: white;
	font-weight: bold;
	height: 40px;
	margin-right: 0px !important;
	padding: 5px;
}
div.buy-block a.inbasket:hover{
	background-color: #FFB810;
}
div.buy-block span.add2subscribe{
	width: 75%;
	background-color: #334887;
	font-size: 22px;
	color: white;
	font-weight: bold;
	height: 40px;
	margin-right: 0px !important;
	padding: 5px;
	border-radius: 2px;
}
div.buy-block span.add2subscribe.btn3{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 50px;	
}
div.buy-block span.add2subscribe.in{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	width: 78%;
	text-align: center;
}
div.buy-block span.add2subscribe.btn3 span{
	position: relative;
	top: 1%;
	font-size: 16px;
}
/*div.buy-block span.add2subscribe.in{
	padding: 0px;
}*/
div.buy-block span.add2subscribe.in span{
	position: relative;
	/*left: 11%;*/
	top: 28%;
}
div.buy-block span.add2subscribe:hover{
	background-color: #FFB810;
}
.elementdetail .add2basketform a.add2basket i.my-cart-icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/cart-skalka.png");
	width: 28px;
	height: 24px;
	display: inline-block;
	top: 4px;
	position: relative;
}
div.buy-block a.add2basket span{
	margin-left: 10px;
	position: relative;
	/*bottom: 4px;*/
}
div.buy-block a.add2basket:hover{
	background-color: #FFB810;
}
.elementdetail .add2basketform a.buy1click i.my-cart-icon-click{
	background-image: url("/bitrix/templates/prohome_default/assets/img/buy-1-click-skalka.png");
	width: 21px;
	height: 31px;
	display: inline-block;
}
div.buy-block a.buy1click{
	width: 75%;
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	font-size: 12px;
	color: black;
	height: 40px;
	margin-right: 0px !important;
	padding: 5px !important;
	text-transform: uppercase;
	margin-bottom: 25px !important;
}
div.buy-block a.buy1click span{
	position: relative;
	bottom: 10px;
	margin-left: 10px;
}
div.buy-block a.buy1click:hover{
	background-color: #f7f7f7;
	color: black;
}
.elementdetail .add2basketform a.buy1click:hover i.my-cart-icon-click{
	background-image: url("/bitrix/templates/prohome_default/assets/img/buy-1-click-skalka-hover.png");
}
div.center-head div.article-block,
div.center-head div.compare-social-block,
div.center-head div.sku-block{
	*margin-left: 40px;
	margin-left: 28px;
	font-family: "Arial";
}
div.center-head div.article-block div.article{
	font-size: 12px;
	color: black;
	/*background-color: #ff9900;
	text-align: center;*/
}
div.center-head div.article-block div.article span{
	font-weight: bold;
	font-size: 13px;
}
div.center-head div.compare-social-block{
	font-size: 14px;
}
.elementdetail div.compare{
	margin-right: 25px;
}
div.center-head div.compare-social-block div.compare a.add2compare{
	color: black;
	letter-spacing: 0.5px;
}
div.center-head div.compare-social-block div.compare a.add2compare .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/compare-skalka.png");
	width: 29px;
	height: 21px;
	margin-right: 5px;
	margin-bottom: 2px;
	background-position: 0px;
}
div.center-head div.compare-social-block div.compare a.add2compare.in .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/compare-hover-skalka.png");
}
div.center-head div.compare-social-block div.compare a.add2compare span{
	border-bottom: 1px dashed black;
}
div.center-head div.compare-social-block div.compare a.add2compare:hover{
	text-decoration: none;
}
div.center-head div.compare-social-block div.compare a.add2compare:hover span{
	border-bottom: none;
}
/** FAVORITE BUTTON **/
div.center-head div.compare-social-block div.favorite a.add2favorite{
	color: black;
	letter-spacing: 0.5px;
}
div.center-head div.compare-social-block div.favorite a.add2favorite .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/favorite-skalka.png");
	width: 20px;
	height: 18px;
	margin-right: 5px;
	margin-bottom: 2px;
	background-position: 0px;
}
div.center-head div.compare-social-block div.favorite a.add2favorite.in .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/favorite-hover-skalka.png");
	background-position: 0px;
}
div.center-head div.compare-social-block div.favorite a.add2favorite span{
	border-bottom: 1px dashed black;
}
div.center-head div.compare-social-block div.favorite a.add2favorite:hover{
	text-decoration: none;
}
div.center-head div.compare-social-block div.favorite a.add2favorite:hover span{
	border-bottom: none;
}
/** SHARE BUTTON **/
div.center-head div.compare-social-block div.share a.share-link{
	color: black;
	letter-spacing: 0.5px;
	float: left;
	margin-bottom: 25px;
	margin-left: 2px;	
}
div.center-head div.compare-social-block div.share div.ya-share2{
	display: none;
}
div.center-head div.compare-social-block div.share div.ya-share2.inline-block{
	display: inline-block;
}
div.center-head div.compare-social-block div.share a.share-link .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/share-skalka.png");
	width: 22px;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 2px;
	background-position: 0px;
}
div.center-head div.compare-social-block div.share a.share-link.in .icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/share-hover-skalka.png");
	background-position: 0px;
}
div.center-head div.compare-social-block div.share div.ya-share2{
	position: relative;
	left: 15px;
}
div.center-head div.compare-social-block div.share a.share-link span{
	border-bottom: 1px dashed black;
}
div.center-head div.compare-social-block div.share a.share-link:hover{
	text-decoration: none;
}
div.center-head div.compare-social-block div.share a.share-link:hover span{
	border-bottom: none;
}
/** SKU **/
.propvision1 div.offer_prop .div_options .div_option.selected,
.propvision1 div.offer_prop .div_options .div_option.selected span{
	background-color: #2ea201 !important;
	border-color: #2ea201 !important;
}
.propvision1 div.offer_prop.color .div_options .div_option.selected,
.propvision1 div.offer_prop.color .div_options .div_option.selected span{
	background-color: #2ea201 !important;
	border-color: white !important;
}
.propvision1 .offer_prop.offer_prop_list.color .div_options.div_options_list span.div_option{
	border: none;
	padding: 2px;
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list span.div_option:hover{
	background-color: #2ea201 !important;	
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list span.div_option:hover span{
	background-color: #2ea201 !important;
	color: white;
}
.propvision1 .offer_prop.offer_prop_list .div_options.div_options_list span.div_option{
	padding: 0px;
}
.prop_option_line_through .propvision1 .offer_prop .div_options span.div_option.disabled,
.prop_option_line_through .propvision1 .offer_prop .div_options span.div_option.disabled span,
.prop_option_line_through .propvision1 .offer_prop .div_options span.div_option.disabled:hover,
.prop_option_line_through .propvision1 .offer_prop .div_options span.div_option.disabled:hover span{
	cursor: no-drop;
	background-color: white !important;
	color: grey;
}
.propvision1 .offer_prop .div_options span.div_option{
	color: black;
}
/** DELIVERY BLOCK **/
div.right-head{
	background-color: white;
	border: 1px solid #d9d9d9;
	width: 29%;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 0px 0px 15px 15px;
}
div.right-head div{
	padding-left: 20px;
	padding-right: 20px;
}
div.right-head div:first-child{
	padding-top: 15px;
}
div.right-head div p{
	font-family: "Arial";
}
div.right-head div p.right-head-title-block{
	font-size: 14px;
	font-weight: bold;
}
div.right-head div p.right-head-text-block{
	font-size: 12px;
	margin-bottom: 0px;
}
div.right-head div div.right-head-text-block{
	font-size: 12px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;	
}
div.right-head div p.right-head-text-block.prop{
	margin-bottom: 14px;
	font-weight: bold;
}
div.delivery-block p.right-head-title-block i.icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/delivery-skalka.png");
	width: 28px;
	height: 17px;
	margin-right: 13px;
	margin-bottom: 3px;
}
div.pay-block p.right-head-title-block i.icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/pay-skalka.png");
	width: 30px;
	height: 26px;
	margin-right: 11px;
	margin-bottom: 8px;
}
div.warranty-block p.right-head-title-block i.icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/warranty-skalka.png");
	width: 21px;
	height: 25px;
	margin-right: 20px;
	margin-bottom: 2px;
}
div.detailtabs div.headers {
	padding: 0px;
    background-color: #f3f3f3;
    height: 55px;
}
div.detailtabs div.headers a {
    display: block;
    float: left;
    padding: 18px 20px;
    margin-right: 0px;
    text-decoration: none;
    width: 115px;
    height: auto;
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
	text-align: center;
	color: black;
}
div.detailtabs div.headers a.selected,
div.detailtabs div.headers a.selected:hover{
    /*color: #fff;*/
	color: black;
    /*background-color: #2ea201;*/
    background-color: inherit;
}
div.detailtabs div.headers a:hover{
	background-color: #ebebeb;
	color: black;
}
div.detailtabs div.contents .content a.switcher {
    font-family: "Arial";
    color: black;
    font-weight: normal;
    letter-spacing: 0.5px;
}
div.detailtabs div.contents div.contentinner {
    font-size: 14px;
    font-family: "Arial";
	-moz-user-select: none; /* Mozilla Firefox */
	-ms-user-select: none; /* Internet Explorer (не поддерживается) */
	-o-user-select: none; /* Opera Presto (не поддерживается) */
	-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */	
}
div#detailtext.content,
div#properties.content,
div#videoYoutube.content,
div#news.content,
div.contents > div#review.content{
	width: 60%;
	float: left;
}
div#newReview.content{
	width: 40%;
	float: right;
}

table.groupedprops{
	/*width: 70%;*/
	width: 100%;
}
.groupedprops td {
	vertical-align: middle;
}
table.groupedprops th{
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	letter-spacing: 0.5px;
}
table.groupedprops tr.one{
	background-color: #f7f7f7;
}
table.groupedprops tr.two{
	background-color: #fff;
}
table.groupedprops tr td{
	width: 50%;
}
table.groupedprops tr td div.val{
	font-family: "Arial";
	font-size: 14px;
}
table.groupedprops span.name {
	font-family: "Arial";
	font-size: 14px;
    color: black;
    background-color: inherit;
	margin-left: 15px;
	display: block;
}

div#videoYoutube div.contentinner{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-left: 10px;		
}
div.contentinner iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}


/** NEWS **/
ul.elem-news-block{
	list-style-type: none;
}
ul.elem-news-block li.news-block{
	width: 50%;
	float: left;
}
div.clear-both{
	clear: both;
	border-bottom: 1px solid #f3f3f3;
	padding-top: 20px;
}
ul.elem-news-block li.news-block img{
	width: 110px;
	height: 110px;
	float: left;
}
ul.elem-news-block li.news-block a.title-link{
	font-size: 16px;
	font-family: "Arial";
	color: black;
	font-weight: bold;
	margin-top: 15px;
	display: block;
	min-height: 75px;
	position: relative;
	left: 15px;
}
ul.elem-news-block li.news-block a.detail-link{
	position: relative;
	left: 15px;
	font-size: 12px;
	font-family: "Arial";
	color: black;
	cursor: pointer;
}
ul.elem-news-block li.news-block a.detail-link:hover{
	cursor: pointer;
}
ul.elem-news-block li.news-block a.detail-link i{
	background-image: url("/bitrix/templates/prohome_default/assets/img/news-detail-skalka.png");
	width: 5px;
	height: 6px;
}
ul.elem-news-list{
	margin-top: 20px;
	list-style-type: square;
}
ul.elem-news-list li a{
	color: black;
	font-size: 14px;
	text-decoration: underline;
	margin-left: 20px;
}
ul.elem-news-list li a:hover,
ul.elem-news-list li:hover{
	color: #529244;
	text-decoration: none;
	/*font-weight: bold;*/
}
/** REVIEWS **/
.detailtabs .contents a.add2review {
    position: absolute;
    top: 12px;
    right: 0px;
    padding: 8px 8px;
	background-color: white;
	color: black;
	font-size: 14px;
	font-family: "Arial";
}
.detailtabs .contents a.add2review span{
	margin-right: 10px;
	border-bottom: 1px dashed;
	padding-bottom: 5px;
}
.detailtabs .contents a.add2review:hover span{
	border-bottom: none;
}
.detailtabs .contents a.add2review i{
	background-image: url("/bitrix/templates/prohome_default/assets/img/review-skalka.png");
	width: 28px;
	height: 30px;
	position: relative;
	bottom: 4px;
}
.reviewmessages .message .line.rating i.icon.active{
	width: 21px;
	height: 20px;
	background-position: -22px -168px;
}
.reviewmessages .message .line.rating i.icon{
	width: 21px;
	height: 20px;
	margin-right: 3px;
	background-position: 0px -168px;
}
.reviewmessages .message div.line {
    margin-top: 15px;
}

div.bigdata h3.title2{
	font-size: 24px;
	font-family: "Arial";
	color: #334887;
	text-transform: full-width;
	font-weight: normal;
}
/** SPECIAL PROPS **/
div.special-props{
	background-color: #fff;
	margin-bottom: -10px;
	text-align: left;
	
}
div.special-props ul{
	padding-top: 30px;
	color: #2ea201;
	list-style-type: square;
	font-size: 10px;
}
div.special-props ul li p{
	width: 50%;
	font-family: "Arial";
	font-size: 12px;
}
div.special-props ul li span{
	font-family: "Arial";
	font-size: 14px;
	/*font-weight: bold;*/
	width: 45%;
}
div.special-props ul li p,
div.special-props ul li span{
	color: black;
	display: inline-block;
}
div.special-props a.go2properties{
	font-size: 12px;
	text-decoration: underline;
	color: #214496;
	margin-left: 20px;
}
div.special-props a.go2properties:hover{
	text-decoration: none;
}
/** SLIDER DETAIL **/
div.picslider div.d_jscrollpane{
	/*height: 472px !important;*/
	height: 410px !important;
	width: 110px !important;
	max-height: 500px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
div.picslider div.d_jscrollpane div.jspContainer{
	height: 410px !important;
}
div.picslider div.d_jscrollpane div.sliderin{
	height: 472px !important;
	width: 110px !important;
	max-height: 500px;
}
div.picslider{
	float: left;
}
.elementdetail div.pic{
	float: left;
	width: 75%;
}
div.picslider div.scrollinner a{
	width: 65px;
	height: 65px;
	margin-bottom: 5px;
}
div.picslider div.scrollinner a img{
	position: relative;
    bottom: 10px;
	width: auto;
	height: 65px;
}
td.slider div.picslider div.scrollinner a img{
	width: 65px;

}
div.pictures{
	cursor: pointer;
	margin-top: 32px;
}
/** NEW CODE ICON ON DETAIL PIC **/
div.js-element .icon.da2qb, .js-element .icon.da2qb {
    top: 30px;
    left: 110px;
}
#showcaseview div.js-element .icon.da2qb, .js-element .icon.da2qb{
	top: 0px;
	left: 0px;
}
/** Z-INDEX ICON **/
div.js-element.da2 i.icon.da2qb,
div.js-element.qb i.icon.da2qb{
	z-index: 3;
}
/** SLIDER LITTLE IMGs **/
div.sliderin a.changeimage.selected{
	border-color: #2ea201 !important;
}
div.sliderin a.changeimage:hover{
	border-color: #2ea201 !important;
}
div.scrollinner a.changeimage.selected{
	border-color: #2ea201 !important;
}
div.scrollinner a.changeimage:hover{
	border-color: #2ea201 !important;
}
div.picslider a.scrollbtn.prev.page,
div.picslider a.scrollbtn.next.page{
	display: none;
}
/** NEW LI **/
div.special-props ul li{
	line-height: 16px;
}
/** RESIZE TEXTAREA **/
div.reviewform textarea{
	resize: vertical;
}
/** NEW STYLE MARGIN **/
div.detailtabs{
	margin-top: 20px;
}
/**NEW STYLE BF **/
img.black-friday{
	position: absolute;
	left: 78%;
	z-index: 3;
	width: 100px;
	height: 35px !important;	
}
/*NEW CODE PL ACTION*/
div.action_block_pl{
	border: 2px solid red;
	margin-right: 16px;
	padding: 5px;
	font-family: 'Arial';
	width: 84%;
	margin-bottom: 10px;
}
div.action_block_pl a{
	font-weight: bold;
	color: red;
}
div.action_block_pl p{
	margin-top: 10px;
	margin-bottom: 5px;
}
img.action-icon{
	position: absolute;
	left: 78%;
	z-index: 3;
	width: 100px;
	height: 35px;
}
#CDT {
	font-size: 30px;
	color: black;
	font-weight: bold;
	width: 100%;
	*padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 10px;
}

#CDT .number-wrapper{
    margin: 2px;
    position: relative;
}

#CDT .number{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #E1E1E1 2%, #FFF 50%, #E1E1E1 100%);
    background-image: -o-linear-gradient(bottom, #E1E1E1 2%, #FFF 50%, #E1E1E1 100%);
    background-image: -moz-linear-gradient(bottom, #E1E1E1 2%, #FFF 50%, #E1E1E1 100%);
    background-image: -webkit-linear-gradient(bottom, #E1E1E1 2%, #FFF 50%, #E1E1E1 100%);
    background-image: -ms-linear-gradient(bottom, #E1E1E1 2%, #FFF 50%, #E1E1E1 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #555;
    *-moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    *-webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    *box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    *-moz-text-shadow: 0 3px 3px #353535;
    *-webkit-text-shadow: 0 3px 3px #353535;
    *text-shadow: 0 3px 3px #353535;
}
       
#CDT .line{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #CACACA;
    *-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    *-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    *box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
#CDT .caption{
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: black;
   text-transform: lowercase;
}
span.razdel{
	color: black;
}


/** MODAL WINDOW **/
div.sku-block div.div_select{
	z-index: 1;
}
#modal_form div.head-modal-block,
#modal_form div.text-modal-block{
	margin-left: 20px;
	margin-right: 20px;
}
#modal_form div.text-modal-block{
	margin-top: 30px;
	padding-bottom: 35px;
	border-bottom: 1px solid #e6e6e6;
}
#modal_form div.head-modal-block{
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
}
#modal_form div.head-modal-block p{
	font-size: 24px;
	font-family: "Arial";	
}
#modal_form div.text-modal-block img{
	width: 100px;
	height: 70px;	
	float: left;
	margin-right: 30px;
}
#modal_form div.text-modal-block a{
	font-family: "Arial";
	font-size: 14px;
	text-decoration: underline;
	min-height: 50px;
	color: black;
	display: block;
	font-weight: bold;
}
#modal_form div.text-modal-block a:hover{
	text-decoration: none;
}
#modal_form div.text-modal-block p{
	font-size: 16px;
	font-family: "Arial";
}
#modal_form a.link-cart{
	text-align: center;
	display: block;
	height: 40px;
	width: 260px;
	margin-top: 30px;
	margin-left: 65px;
	background-color: #2ea201;
}
#modal_form a.link-cart:hover{
	text-decoration: none;
	background-color: #FFB810;
}
#modal_form a.link-cart span{
	padding-top: 10px;
	display: inline-block;
	font-size: 18px;
	font-family: "Arial";
	font-weight: bold;
	color: white;
	position: relative;
	top: 2px;
}
#modal_form a.link-cart i.icon{
	background-image: url("/bitrix/templates/prohome_default/assets/img/cart-skalka.png");
	width: 28px;
	height: 24px;
	display: inline-block;
	margin-right: 25px;
}
#modal_form {
	width: 400px; 
	height: 270px; /* Рaзмеры дoлжны быть фиксирoвaны */
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -135px;
	margin-left: -200px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
/*NEW CODE DETAIL*/
div.detail-head-block div.buy-block a.inbasket{
	background-color: #fff;
	border: 2px solid #2ea201;
	color: #2ea201;
}
div.detail-head-block div.buy-block a.inbasket:hover{
	border-color: #ffb80f;
	color: #ffb80f;
}
div.detail-head-block div.buy-block a.inbasket i.icon{
	background-position: -16px -613px;
}
/*NEW CODE DELIVERY FOR MOBILE*/
div#delivery{
	display: none;
}
@media (max-width: 1024px) {
	div.detail-head-block.right-head{
		display: none;
	}
	div.detail-head-block {
		width: 50%;
	}
	div.center-head {
		width: 50%;
	}
	.elementdetail div.pic{
		float: left;
		width: 70%;
	}
	body.adaptive .elementdetail div.stores {
		margin-top: 0px;
		float: left;
		text-align: center;
	}
	img.black-friday{
		left: 70%;
	}
	img.action-icon{
		left: 70%;
	}
}
@media (max-width: 800px){

	div.picslider div.d_jscrollpane{
		width: 105px !important;
	}
	div.picslider div.d_jscrollpane div.sliderin{
		width: 105px !important;
	}
	div.block-price span.price {
		font-size: 18px;
	}
	div.block-price span.price.old {
		font-size: 16px;
	}
	div.detail-head-block div.store-block{
		padding-left: 10px;
	}
	div.buy-block a.add2basket {
		font-size: 16px;
	}
	div.buy-block a.buy1click {
		font-size: 10px;
	}
	div.center-head div.compare-social-block {
		font-size: 12px;
	}
	div.buy-block span.add2subscribe {
		font-size: 16px;
	}
	div.buy-block a.inbasket {
		font-size: 16px;
	}
	ul.elem-news-block li.news-block a.title-link {
		font-size: 12px;
		font-family: "Arial";
		color: black;
		font-weight: bold;
		margin-top: 15px;
		display: block;
		min-height: 100px;
		position: relative;
		left: 15px;
		max-width: 90%;
	}
	ul.elem-news-block li.news-block img {
		width: 90px;
		height: 90px;
		float: left;
	}
	.elementdetail div.pic{
		float: left;
		width: 58%;
	}
	div.picslider div.d_jscrollpane div.jspContainer{
		height: 325px !important;
	}
	.elementdetail div.pictures{
		max-height: 330px;
	}
	div.picslider div.d_jscrollpane{
		height: 330px !important;
	}
	div.pictures div.jspContainer div.jspPane{
		height: 330px !important;
	}
	div.picslider div.d_jscrollpane div.sliderin {
		height: 330px !important;
	}
	.elementdetail div.zoom {
		display: none;
	}
	div.detailtabs{
		margin-top: 15px;
	}
	.elementdetail div.threeblock{
		margin: 0px;
	}
	.elementdetail div.share{
		margin: 0px;
	}
	.elementdetail div.compare{
		margin-bottom: 5px;
	}
	.elementdetail .favoriteandcheaper div.favorite{
		margin-bottom: 5px;
		margin-left: 5px;
	}
	div.center-head div.compare-social-block div.favorite a.add2favorite .icon{
		margin-right: 9px;
	}
	img.black-friday{
		left: 50%;
	}
	img.action-icon{
		left: 50%;
	}	
	#CDT{
		font-size: 15px;
	}
	#CDT .number{
		height: 20px;
		line-height: 20px;
		padding: 0 6px;
	}
	#CDT .caption{
	   font-size: 11px;
	   bottom: -20px;
	}	
	#CDT .number-wrapper{
		margin: 4px;
	}	
}
@media (max-width: 668px){
	div.block-price span.price {
		font-size: 14px;
	}
	div.block-price span.price.old {
		font-size: 12px;
		margin-bottom: 0px;
	}
	/*div.block-price span.price {
		margin-left: 0px;
	}
	div.store-block div.stores span{
		margin-left: 0px;
	}*/
	div.buy-block span.add2subscribe {
		font-size: 13px;
		width: 75%;
		height: auto;
	}
	div.buy-block a.add2basket {
		font-size: 14px;
	}
	div.buy-block a.add2basket span {
		margin-left: 14px;
		position: relative;
	}
	div.buy-block a.buy1click {
		font-size: 8px;
	}
	div.buy-block a.buy1click span {
		margin-left: 5px;
	}
	div.buy-block a.inbasket {
		font-size: 14px;
	}
	div.buy-block a.buy1click span {
		position: relative;
		bottom: 14px;
	}
	/*.elementdetail .favoriteandcheaper {
		margin-top: 18px;
	}*/
	.detailtabs .contents a.add2review {
		top: -2px;
		font-size: 12px;
	}
	.elementdetail div.pic{
		float: left;
		width: 50%;
	}
	img.black-friday{
		left: 35%;
	}
	img.action-icon{
		left: 35%;
	}	
}
@media (max-width: 600px){
	div.detailtabs{
		margin-top: 15px;
	}
	div.detailtabs div.headers a.rev {
		display: none;
	}
	div#detailtext.content,
	div#properties.content,
	div#videoYoutube.content,
	div#news.content,
	div#delivery.content,
	div.contents > div#review.content{
		width: 100%;
		float: left;
	}
	img.black-friday{
		left: 70%;
	}
	img.action-icon{
		left: 70%;
	}
	div#delivery{
		display: block;
		margin-bottom: 0px;
	}
	div.contents > div#review{
		margin-top: 0px;
	}	
}
@media (max-width: 568px){
	.elementdetail .favoriteandcheaper {
		margin-top: 0px;
	}
	/*div#detailtext.content,
	div#properties.content,
	div#videoYoutube.content,
	div#news.content,
	div.contents > div#review.content{
		width: 100%;
		float: left;
	}*/
	div#videoYoutube div.contentinner {
		margin-right: 10px;
	}
	table.groupedprops {
		width: 100%;
	}
	ul.elem-news-block li.news-block a.title-link{
		clear: both;
		left: 0px;
		min-height: 50px;
	}
	ul.elem-news-block li.news-block img {
		width: 110px;
		height: 110px;
	}
	table.groupedprops span.name {
		display: block;
	}
	.elementdetail div.pic{
		float: left;
		width: 78%;
		margin-bottom: 0px;
		max-height: 340px;
	}
	body.adaptive .elementdetail div.detail-product__info{
		clear: both;
	} 
	/*div.block-price span.price {
		margin-left: 45px;
	}
	div.store-block div.stores span {
		margin-left: 12px;
	}*/
	div.detailtabs {
		margin-top: 20px;
	}
}
@media (max-width: 480px){
	div.buy-block span.add2subscribe {
		height: auto;
	}
	.elementdetail .favoriteandcheaper {
		margin-top: 18px;
	}
	/** NEW **/
	body.adaptive .detailtabs .content.selected a.switcher {
		color: #fff !important;
		background-color: #2ea201 !important;
	}
	.elementdetail div.pic {
		float: left;
		width: 75%;
	}
	/*div.detail-head-block.left-head {
		margin-left: -24%;
	}*/	
}
@media (max-width: 420px){
	div.buy-block a.add2basket {
		font-size: 14px;
	}	
	div.buy-block a.add2basket span{
		margin-left: 12px;
	}
	div.buy-block span.add2subscribe {
		font-size: 13px;
	}
	div.buy-block a.buy1click {
		font-size: 8px;
	}
	div.buy-block a.buy1click span {
		margin-left: 5px;
	}
	/*div.block-price span.price {
		font-size: 14px;
		margin-left: 25px;
	}
	div.store-block div.stores span {
		margin-left: 2px;
	}*/
	div.block-price span.price.old {
		font-size: 14px;
		margin-bottom: 0px;
	}
	.elementdetail div.pic {
		float: left;
		width: 70%;
	}
	.elementdetail .zoom{
		display: none;
	}
	div.pictures {
		margin-top: 0px;
	}
	body.adaptive .elementdetail div.detail-product__info {
		margin-top: 0px;
		padding-top: 0px;
	}
	/*div.detail-head-block.left-head {
		margin-left: -28%;
	}*/
	img.black-friday{
		left: 65%;
	}
	img.action-icon{
		left: 65%;
	}	
	#CDT{
		display: none;
	}	
}
@media (max-width: 375px){
	/*div.block-price span.price {
		font-size: 12px;
		margin-left: 25px;
	}
	div.block-price span.price.old {
		font-size: 12px;
		margin-left: 25px;
		margin-bottom: 0px;
	}*/
	div.block-price span.price span.currency-block {
		font-size: 12px;
	}
	/*div.store-block div.stores span a {
		margin-left: 5px;
	}*/
	div.buy-block a.add2basket {
		font-size: 14px;
	}
	div.buy-block a.add2basket span {
		margin-left: 5px;
	}
	div.buy-block a.buy1click span{
		display: none;
	}
	.elementdetail .add2basketform a.add2basket i.my-cart-icon{
		margin-left: -1px;
	}
	.elementdetail .add2basketform a.buy1click i.my-cart-icon-click{
		text-align: center;
	}
	div.buy-block span.add2subscribe {
		font-size: 12px;
		height: auto;
		/*width: auto;*/
	}
	div.buy-block a.inbasket {
		font-size: 12px;
	}
	div.center-head div.compare-social-block div.share div.ya-share2 {
		left: 0px;
	}
	.elementdetail div.pic {
		float: left;
		width: 65%;
	}
	/*div.store-block div.stores span{
		margin-left: 6px;
	}*/
	div.store-block div.stores span a span{
		font-size: 12px;
	}
	div.block-price span.price {
		font-size: 18px;
	}
	div.special-props{
		display: none;
	}
	body.adaptive div.detailtabs{
		margin-top: 0px;
	}
	img.black-friday{
		left: 60%;
	}		
	img.action-icon{
		left: 60%;
	}	
}
@media (max-width: 320px){
	div.detail-head-block div.price-name {
		font-size: 12px;
	}
	div.block-price span.price {
		font-size: 10px;
	}
	div.block-price span.price.old {
		font-size: 10px;
		margin-bottom: 0px;
	}
	div.store-block div.stores span {
		font-size: 12px;
	}
	.elementdetail .add2basketform a.add2basket i.my-cart-icon {
		text-align: center;
	}
	div.buy-block a.add2basket span{
		display: none;
	}
	div.buy-block a.inbasket {
		font-size: 9px;
	}
	div.buy-block span.add2subscribe {
		font-size: 9px;
		height: auto;
		width: auto;
	}
	div.special-props ul li.props-li p{
		font-size: 10px;
	}
	div.special-props ul li.props-li span{
		font-size: 11px;
	}
	.elementdetail div.pic {
		float: left;
		width: 60%;
	}
	div.store-block div.stores span a span {
		font-size: 10px;
	}
	div.detail-head-block div.razdel-block{
		margin-left: 15px;
	}
	div.detail-head-block div.buy-block {
		padding-left: 13px;
	}
	img.black-friday{
		left: 50%;
	}	
	img.action-icon{
		left: 50%;
	}	
}