:root {
  /* main fonts */
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; */

  /* main color */
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-title-color: #303030;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;

  /* main background */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 130px 12px;
  margin: 0 auto;

  outline: 2px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

/* header */
.nav-link {
  text-decoration: none;
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  background-color: #303030;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-phone {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #303030;
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

.header-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
}
.header-button:hover,
.header-button:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  cursor: pointer;
}

/* section hero */
.hero-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-title-color);
  /* transform: rotate(-90deg); */
}
.hero-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  margin-bottom: 20px;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
  background-color: #303030;

  margin-bottom: 20px;
}
.hero-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.hero-list-bt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}

/* section about us */
.about-text {
  color: var(--primary-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.about-title {
  color: var(--primary-title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.about-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  margin-bottom: 20px;
}

.about-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;

  margin-bottom: 40px;
}

.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-title-color);

  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  cursor: pointer;
}

/* section price */
.price-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);

  margin-bottom: 44px;
}
.price-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.price-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  margin-top: 50px;
}
.price-btn:hover,
.price-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  cursor: pointer;
}

/* section plus */
.plus-list {
  color: var(--primary-title-color);
}
.plus-list-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.plus-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
.plus-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);

  margin-bottom: 20px;
}

.plus-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);

  margin-bottom: 20px;
}
.plus-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--primary-text-color);
}
/* section master */
.master-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);

  margin-bottom: 20px;
}
.master-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
}

.master-img {
  margin-bottom: 30px;
}

.master h3,
.master-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-title-color);

  margin-bottom: 8px;
}
.master-list p,
.master-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);

  margin-bottom: 30px;
}

/* section Our works */
.works p,
.works-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);

  margin-bottom: 44px;
}

/* section Contacs */
.cont h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
  background-color: #303030;

  margin-bottom: 40px;
}
.cont-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: transparent;

  padding: 12px 38px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.cont-btn:hover,
.cont-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  cursor: pointer;
}
address p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}
.adr-tel a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.adr-email a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.cont h4 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.const-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

/* footer */
footer p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color);
}
footer ul li a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-title-color);
  text-decoration: none;
}
